ion-content {
    section {
        ion-card {
            font-family: 'JetBrains Mono';
            padding: 20px;
            border-radius: 30px;
            border: 1px solid gray;
            box-shadow: none;
            ion-card-title {
                padding: 10px;
                border-bottom: 3px solid orange;
            }
            ion-card-content {
                ion-buttons {
                    ion-button {
                        box-shadow: none;
                        --background: #5D688A;
                        color: white;
                        font-family: 'JetBrains Mono';
                        border: 1px solid #5D688A;
                        border-radius: 50px;
                        overflow: hidden;
                    }
                }
            }
        }
        table {
            font-family: 'JetBrains Mono';
            border-spacing: 1; 
            border-collapse: collapse; 
            background:white;
            border-radius:6px;
            overflow:hidden;
            width:100%;
            margin:0 auto;
            position:relative;
            thead {
                th {
                    text-align: left;
                    padding-left:8px;
                }
                tr {
                    height:60px;
                    background:#FF9A00;
                    font-size:16px;
                    color: white;
                }
            }
            tbody {
                td {
                    padding-left:8px;
                }
                tr {
                    text-align: left;
                    height:48px;
                    border-bottom:1px solid #E3F1D5;
                }
                tr:last-child {
                    border:0;
                }
            }
        }
    }
}