ion-content {
    --background: var(--secondary-color);
    font-family: 'JetBrains Mono';
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    div {
        margin-top: 25vh;
        width: 350px;
        padding: 20px;
        border-radius: 20px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        ion-button {
            font-family: 'JetBrains Mono';
            width: 100%;
            --background: var(--primary-color);
            --box-shadow: none;
        }
        ion-input {
            font-family: 'JetBrains Mono';
        }
    }
}